

<body>
  <img class="background-image" src="./assets/Images/home-archimage.png">

    <div>
    <section class="ComapanyTitle">
      <h1>Alpha Archy</h1>
    </section>
    </div>

    <div class="welcome-section">
      <section class="note">
        <h1>Welcome to Anna's Architecture Firm</h1>
        <p class="para">We are excited to be apart of your valued client.</p>
        <p class="para">Explore new designs through your creative ideas. </p>
        <p class="para">Our team is dedicated to bringing your vision to life through innovative and timeless architectural designs.</p>
      </section>
      <section class="button">
        <button class="button1" (click)="navigateToCreateUser()">Create User</button>
        <br>
        <button class="button2" (click)="navigateToCreateMeeting()">Create a Meeting Schedule</button>
      </section>
    </div>
    

</body>






