@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300&family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
.container{
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* background-image: url("https://i.stack.imgur.com/NDqZK.png"); */
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    text-shadow: 5px 5px 20px rgb(236, 226, 226);
    color:aliceblue;
    box-shadow: -3px -3px 9px #0f1f16a2;
}
h2{
    font-family: 'Outfit', sans-serif;
}

img{
    /* filter: brightness(55%); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} 
.form-container {
height: 100vh;
    margin-top: 50px;
    box-shadow: -3px -3px 9px #0f1f16a2,
              3px 3px 10px rgba(222, 226, 228, 0.671);
    border-radius: 10px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 10px; */
    padding: 50px 50px;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* text-align: center; */
}

.form-container label {
    display: block;
    margin: 10px 0;
    font-size: x-large;
}

.form-container input:hover{
    border:2px solid whitesmoke;
}

.form-container input {
    background: transparent;
    width:100%;
    padding: 10px;
    border-color: rgb(28, 157, 218);
    border-radius: 5px;
    box-shadow: -3px -3px 9px #1c1d1da2,
              3px 3px 20px rgba(75, 77, 77, 0.671);
    /* margin-bottom: 10px; */
}

.form-container button {
    font-size: 20px;
    border-color: rgb(35, 162, 212);
    box-shadow: -3px -3px 9px #4596c5a2,
              3px 3px 10px rgba(35, 221, 206, 0.671);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 50%;
}

.error-message {
    color: red;
    font-family: 'Outfit', sans-serif;
}

.form-container button:hover {
    background-color: #70c2e9;
  }

  .button1{
    color:rgb(54, 50, 50)
  }